

.cont-video {
    position: relative;
    width: 100%;
    height: 100vh;
}

video {
    object-fit: cover;
    position: absolute;
}

.fondo {
    width: 100%;
    height: 100vh;
    background: #00000073;
    position: absolute;
}

.cont-bottoms {
    position: absolute;
    padding: 10px;
    bottom: 40px;
    left: 100px;
}