input {
    height: 2.5em;
}

.input_form {
    position: relative;
}

.input_form input{
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8a8a8a;
    background: transparent;
    outline: none;
}

.input_form label {
    position: absolute;
    top: 0%;
    left: 15px;
    transform: translateY(50%);
    pointer-events: none;
    transition: .8s;
}

.input_form input:focus {
    border: 1px solid var(--c1);
}

.input_form input:focus + label {
    transform: translateY(-50%);
}


