@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.font-maguntia {
    font-family: 'UnifrakturMaguntia', cursive;
}

:root {
    --c1: #260d33;
    --c1-opacity: #4b1b65;
    --c2: #106b87;
    --c2-opacity: #1c91b4;
    --c3: #106b87;
    --c4: #157a8c;
    --c5: #b3aca4;
}

.btn {
    padding: 10px;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    transition: all .2s;
}

.btn-primary {
    color: #fff;
    background: var(--c1);
}

.btn-primary:hover,
.btn-primary:checked,
.btn-primary:active {
    color: #d4d4d4;
    background: var(--c1-opacity);
}

.btn-secundary {
    color: #fff;
    background-color: var(--c2);
}

.btn-secundary:hover,
.btn-secundary:checked,
.btn-secundary:active {
    color: #d8d8d8;
    background-color: var(--c2-opacity);
}

.btn-third {
    color: #fff;
    background-color: #50d1ba;
}

.btn-thir:checked,
.btn-third:hover,
.btn-third:active {
    color: #fff;
    background-color: #50d1ba;
}

.text-center {
    text-align: center;
}

.mt-4em {
    font-size: 4em; 
    margin-bottom: 40px;
 }

.mr-1 {
    margin-right: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.text-while {
    color: #fff;
}

.text-blue {
    color: rgb(1, 102, 184);
}

.text-upercase {
    text-transform: uppercase;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ESTILOS USANDO FLEX */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.f-d-column {
    flex-direction: column;
}

.f-d-row {
    flex-direction: row;
}

.justify-elements-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ESTILOS USANDO GRID */

.grid-columns-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
    gap: 20px;
}

.grid-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
}

.gap-10 {
    gap: 10;
}
/* MEDIDAS PARA ESPACIOS */

.w-100 {
    width: 100%;
    margin: 0px auto;
}

.w-90 {
    width: 90%;
    margin: 0px auto;
}

.w-80 {
    width: 80%;
    margin: 0px auto;
}

.w-70 {
    width: 70%;
    margin: 0px auto;
}

.w-60 {
    width: 60%;
    margin: 0px auto;
}

/* LISTAS UL */
li { 
    list-style: none;
}

/* ANCLA */
a {
    text-decoration: none;
}

/* FONDOS */
.bg-c1 {
    background: var(--c1);
}

.bg-c2 {
    background: var(--c2);
}

.bg-c3 {
    background: var(--c3);
}

.bg-c4 {
    background: var(--c4);
}

.bg-c5 {
    background: var(--c5);
}

/* COLORES */
.color-c1 {
    color: var(--c1);
}

.color-c1-opacity {
    color: var(--c1-opacity);
}

.color-c2 {
    color: var(--c2);
}

.color-c3 {
    color: var(--c3);
}

.color-c4 {
    color: var(--c4);
}

.color-c5 {
    color: var(--c5);
}

.c-while {
    color: #fff;
}

.c-grey {
    color: #333;
}

.bg-while {
    background: #fff;
}

.bg-grey {
    background: #333;
}

/* BORDES, MARGENES Y PADDIGNS*/
.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.m-1 {
    margin: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.ml-1 {
    margin-left: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.p-1 {
    padding: 1em;
}

.border-1px {
    border: 1px solid var(--c2-opacity);
}

/* TEXTOS */
.text-center {
    text-align: center;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-700 {
    font-weight: 700;
}

.f-w-800 {
    font-weight: 800;
}

.f-size-1 {
    font-size: 1em;
}

.f-size-1-5 {
    font-size: 1.5em;
}

.f-size-2 {
    font-size: 2em;
}

.f-size-3 {
    font-size: 3em;
}

.f-size-4 {
    font-size: 4em;
}

.f-size-5 {
    font-size: 5em;
}

.f-size-10 {
    font-size: 10em;
}

/* ALTOS Y ANCHOS */

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.h-100vh {
    height: 100vh !important;
}

.h-50vh {
    height: 50vh !important;
}

.h-10vh {
    height: 10vh !important;
}

/* IMAGENES */
.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* que la imagen llene bien el espacio */
}