* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --c1: #260d33;
    --c2: #106b87;
    --c3: #106b87;
    --c4: #157a8c;
    --c5: #b3aca4;
}

body {
    background: #333;
}

.btn {
    padding: 10px;
    border: none;
    font-weight: 700;
    transition: all .2s;
}

.btn-primary {
    color: #fff;
    background: #036D59;
}

.btn-primary:hover,
.btn-primary:checked,
.btn-primary:active {
    color: #c7c7c7;
    background: #005243;
}

.btn-secundary {
    color: #333;
    background-color: #95FFEB;
}

.btn-secundary:hover,
.btn-secundary:checked,
.btn-secundary:active {
    color: #747474;
    background-color: #6fb6a9;
}

.btn-third {
    color: #fff;
    background-color: #50d1ba;
}

.btn-thir:checked,
.btn-third:hover,
.btn-third:active {
    color: #fff;
    background-color: #50d1ba;
}

.text-center {
    text-align: center;
}

.mt-4em {
    font-size: 4em; 
    margin-bottom: 40px;
 }

.mr-1 {
    margin-right: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.text-while {
    color: #fff;
}

.text-blue {
    color: rgb(1, 102, 184);
}

.fz-1 {
    font-size: 1em;
}

.fz-1-5 {
    font-size: 1.5em;
}

.fz-2 {
    font-size: 2em;
}

.fz-3 {
    font-size: 3em;
}

.fz-4 {
    font-size: 4em;
}

.text-upercase {
    text-transform: uppercase;
}

/* ESTILOS USANDO FLEX */

.df {
    display: flex;
}

.content-center {
    justify-content: center;
}

.content-space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-10 {
    gap: 10;
}

/* LISTAS UL */
li { 
    list-style: none;
}

/* ANCLA */
a {
    text-decoration: none;
}

/* PALETA DE COLORES */

/* FONDOS */
.bg-c1 {
    background: var(--c1);
}

.bg-c2 {
    background: var(--c2);
}

.bg-c3 {
    background: var(--c3);
}

.bg-c4 {
    background: var(--c4);
}

.bg-c5 {
    background: var(--c5);
}

/* COLORES */
.color-c1 {
    color: var(--c1);
}

.color-c2 {
    color: var(--c2);
}

.color-c3 {
    color: var(--c3);
}

.color-c4 {
    color: var(--c4);
}

.color-c5 {
    color: var(--c5);
}

.c-while {
    color: #fff;
}